<!DOCTYPE html>
<html>
  <head>
    <meta chartset='utf-8' />
    <meta name='viewport' description='width=device-width, initial-scale=1'/>
    <link rel='stylesheet' href='/admin.css'/>

    {% block header %}
      <title>Admin Foodfy</title>
    {% endblock  %}
  </head>
  <body>
    <header>
      <h1>
        <img src='/adminLogo.png' alt='Logo Foodfy' />
      </h1>
    </header>

    {% block content %}{% endblock %}
  </body>
</html>