{% extends 'layout.njk' %}

{% block head %}
    <title>Foodfy - Home</title>
{% endblock %}

{% block content %}

    <header>
        <div class="header-content">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os pratos com receitas criadas por profissionais do mundo inteiro</p>
        </div>

        <div class="header-img">
            <img src="/chef.png" alt="Chef de Cozinha">
        </div>
    </header>

    <main>
        <h2>Mais Acessadas</h2>

        <div class="cards">

            {% for recipe in recipes %}

                <div class="card">
                    <div class="card-img">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <div>
                        <p class="card-name">{{recipe.title}}</p>
                    </div>
                    <div>
                        <p class="card-autor">{{recipe.author}}</p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </main>
{% endblock %}