<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel='stylesheet' href='/global.css'/>

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <nav class="menu">
                <a href='/'>FoodFy</a>
                <a href='/about'>Sobre</a>
                <a href='/recipes'>Receitas</a>
            </nav>

            {% block content %}{% endblock %}
        </div>

        <footer>
            <p>Todos direitos reservados, receitas FoodFy</p>
        </footer>
    </body>
</html>