{% extends 'layout.njk' %}

{% block head %}
    <title>Receitas - FoodFy</title>
{% endblock %}

{% block content %}

    <div class="cards">

        {% for recipe in recipes %}

            <div class="card">
                <div class="card-img">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div>
                    <p class="card-name">{{recipe.title}}</p>
                </div>
                <div>
                    <p class="card-autor">{{recipe.author}}</p>
                </div>
            </div>

        {% endfor %}

    </div>
    <script src="/scripts.js"></script>

{% endblock %}