{% extends 'layout.njk' %}

{% block header %}
  <title>Editando receita</title>
  <link rel='stylesheet' href='/adminRecipes.css' />
{% endblock %}

{% block content %}

  <div class='container'>
    <div id='title'>
      <h3>Editando receita</h3>
      <div id='menu-buttons'>
        {# Adicionando form no button posso adicionar um ID no form e colocar-lo em qualquer lugar #}
        <button type='submit' form='form-recipe-delete'>Deletar</button>
        <button type='submit' form='form-recipe-edit'>Salvar receita</button>
      </div>
    </div>

    <main>
      <form method='POST' action='/admin/recipes?_method=PUT' id='form-recipe-edit'>
        <input type='hidden' name='id' value='{{recipe.id}}' />
        {% include 'recipes/fields.njk' %}
      </form>

      <form method='POST' action='/admin/recipes?_method=DELETE' id='form-recipe-delete'>
        <input type='hidden' name='id' value='{{recipe.id}}' />
      </form>
    </main>
  </div>

{% endblock %}