{% extends 'layout.njk' %}

{% block header %}
  <title>Mostrando receitas</title>
  <link rel='stylesheet' href='/adminRecipes.css' />
{% endblock %}

{% block content %}
  <div class='container'>
    <h3>Gerenciar receitas</h3>

    <ul id='index'>
      {% for recipe in recipes %}
        <li>
          <div class='image'>
            <img src='{{recipe.image}}' alt=''/>
          </div>
          <div class='content'>
            <strong>{{recipe.title}}</strong>
            <p>por {{recipe.chef}}</p>
            <a href='/admin/recipes/{{recipe.id}}'>Visualizar</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}