{% extends 'layout.njk' %}

{% block header %}
  <title>Receita {{recipe.title}}</title>
  <link rel='stylesheet' href='/adminRecipes.css' />
{% endblock %}

{% block content %}

<div class='container show-recipe'>
  <div id='title'>
    <h3>Receita: {{recipe.title}}</h3>

    <a class='edit-button' href='/admin/recipes/{{recipe.id}}/edit'>Editar receita</a>
  </div>

  {# <div class='recipe-image'>
    {% for image in photos %}
      <img src='{{image.src}}' alt='Imagem de {{recipe.title}}' />
    {% endfor %}
  </div> #}

  <div class="gallery">
    <div class="highlight">
      {% if not photos[0] %}
        <img
          src="http://placehold.it/500x500?text=PRODUTO SEM FOTO"
          alt='Produto sem foto'
        />
      {% else %}
        <img
          src="{{photos[0].src}}"
          alt="{{photos[0].name}}"
          onclick='Lightbox.open()'
        />
      {% endif %}

      <div class="lightbox-target">
        <img
          src="{{photos[0].src}}"
          alt="{{photos[0].name}}"
        />
        <a
          href="#"
          class='lightbox-close'
          onclick='Lightbox.close()'
        >
          <i class="material-icons">close</i>
        </a>
      </div>
    </div>

    <div class="gallery-preview">
      {% for photo in photos %}
        <img
          src="{{photo.src}}"
          alt="{{photo.name}}"
          {% if loop.index0 == 0 %}
            class='active'
          {% endif %}
          onclick='ImageGallery.setImage(event)'
        />
      {% endfor %}
    </div>
  </div>

  <div class='recipe-content'>
    <div class='recipe-header'>
      <h2>{{recipe.title}}</h2>
      <p>por {{recipe.chef}}</p>
    </div>

    <div class='ingredients sections'>
      <div>Ingredientes</div>
      <ul class='show'>
        {% for ingredient in recipe.ingredients %}
          <li> - {{ingredient}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class='preparation sections'>
      <div>Modo de preparo</div>
      <ul class='show'>
        {% for preparation in recipe.preparation %}
          <li> - {{preparation}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class='information sections'>
      <div>Informações Adicionais</div>
      <div>{{recipe.information}}</div>
    </div>
  </div>
</div>

{% endblock %}