/* === Show page === */

.container.show-recipe {
  margin-bottom: 32px;
}

.container.show-recipe .recipe-image {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}

.container.show-recipe .recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .recipe-header {
  display: grid;
  place-items: center;
  margin: 16px 0;
}

.container.show-recipe .recipe-header p {
  color: #777;
}

.container .sections div:first-child {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0;
}

.container.show-recipe ul.show {
  display: grid;
  gap: 8px;
  color: #444;
  font-weight: 400;
  font-size: 18px;
}

.container.show-recipe .information div:last-child {
  color: #444;
  font-size: 18px;
  font-weight: 400;
}
