header {
  background-color: #111;
  padding: 16px;
}

header section {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

header section #links {
  color: #999;
  text-transform: uppercase;
}

header section #links a + a {
  margin-left: 8px;
}

header section #links a.active {
  color: white;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.container h3 {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 700;
}

/* === FORMS === */

form {
  margin: 24px 0;
}

button[type='submit'],
.edit-button {
  background-color: var(--primary);
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
}

#title {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item input,
.item textarea,
.item select {
  border: 1px solid #ddd;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin: 16px 0;
}

.item textarea {
  resize: none;
  height: 180px;
}

.item button.add-ingredient,
.item button.add-step {
  color: var(--primary);
  font-weight: 700;
  margin: 8px 0 24px;
}

#title button[form='form-recipe-delete'],
#title button[form='form-chef-delete'] {
  background-color: #dc4747;
}

.container ul#index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.container ul#index li {
  display: flex;
  align-items: center;
}

.container ul#index .image {
  margin-right: 16px;
  overflow: hidden;
  max-width: 150px;
  border-radius: 8px;
  width: 100%;
  height: 80px;
}

.container ul#index li .content {
  display: grid;
  gap: 4px;
}

.container ul#index .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container ul#index li .content strong {
  font-size: 18px;
  color: #111;
  font-weight: 400;
}

.container ul#index li .content p {
  font-size: 14px;
  color: #777;
}

.container ul#index li .content a {
  color: var(--primary);
  font-size: 14px;
  font-weight: 700;
}
