<li>
  <div class='image'>
    <img src='{{recipe.image}}' alt=''/>
  </div>
  <div class='content'>
    <strong>{{recipe.title}}</strong>
    <p>por {{recipe.author}}</p>
    <a href='/admin/recipes/{{recipe.id}}'>Visualizar</a>
  </div>
</li>